.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: #fff;
}

.logo {
  width: 120px;
  margin-bottom: 20px;
}

.title {
  font-size: 24px;
  font-weight: bold;
  color: #4caf50;
  margin-bottom: 30px;
}

.input {
  width: 250px;
  padding: 12px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

.button {
  width: 250px;
  padding: 12px;
  font-size: 18px;
  border-radius: 8px;
  border: none;
  background-color: #4caf50;
  color: #fff;
  cursor: pointer;
  margin-top: 10px;
}

.button:hover {
  background-color: #45a049;
}
