.mypage-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.username {
  font-size: 24px;
  margin: 5px;
}

.logo-title {
  font-size: 28px;
  margin: 5px;
  margin-top: 0px;
  margin-bottom: 20px;
  color: #1cac48;
}

.subtitle {
  font-size: 18px;
  margin: 5px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.filter-buttons {
  display: flex;
  justify-content: center;
  margin: 15px 0;
}

.filter-button {
  padding: 8px 16px;
  margin: 0 5px;
  background-color: #9b999b;
  color: white;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}

.filter-button.active {
  background-color: #217f39;
}

.challenge-table {
  width: 90%;
  margin: 20px 0;
  border-collapse: collapse;
}

.challenge-table th {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: center;
  background-color: #217f39;
  color: #ffffff;
}

.challenge-table td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: center;
}

.status.성공 {
  color: green;
}

.status.실패 {
  color: red;
}

.status.진행중 {
  color: blue;
}

.logoutButton,
.withdrawButton {
  width: 200px;
  padding: 12px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background-color: #356639;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin: 10px 0;
}

.withdrawButton {
  background-color: #000000;
}

.logoutButton:hover {
  background-color: #2d5530;
}

.withdrawButton:hover {
  background-color: #555555;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.popup button {
  margin: 5px;
  padding: 8px 16px;
  border: none;
  background-color: #4caf50;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.popup button:hover {
  background-color: #3a9140;
}
