.mypage-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.badgeSection {
  width: 90%;
  margin-top: 20px;
  text-align: center;
}

.badgeBox {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  background: #f3f3f3;
  padding: 10px;
  border-radius: 10px;
}

.badge {
  padding: 8px 12px;
  background-color: #4caf50;
  color: white;
  border-radius: 5px;
}

.badge-filter {
  margin-bottom: 15px;
}

.badge-filter label {
  font-size: 14px;
  margin-right: 8px;
}

.badge-filter select {
  padding: 5px;
  font-size: 14px;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 15px;
}

.pagination button {
  padding: 5px 10px;
  border: none;
  background-color: #4caf50;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.pagination button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.logoutButton {
  width: 200px;
  padding: 12px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background-color: #356639;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 10px;
}

.withdrawButton {
  width: 200px;
  padding: 12px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background-color: #000000;
  transparent: 80%;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 10px;
}

.logoutButton:hover {
  background-color: #2d5530;
}

.withdrawButton:hover {
  background-color: #333333;
}
