.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(33, 109, 53, 1);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .popup-content {
    color: white;
    padding: 20px;
    text-align: center;
  }
  
  .popup-content p {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .popup-content button {
    color: white;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .popup-content button:hover {
    background: grey;
  }
  